
Assets/Models/** filter=lfs diff=lfs merge=lfs -text
:(exclude)Assets/Models/**.meta filter=lfs diff=lfs merge=lfs -text

Assets/Sprites/** filter=lfs diff=lfs merge=lfs -text
:(exclude)Assets/Sprites/**.meta filter=lfs diff=lfs merge=lfs -text

Assets/Textures/** filter=lfs diff=lfs merge=lfs -text
:(exclude)Assets/Textures/**.meta filter=lfs diff=lfs merge=lfs -text

Assets/Sounds/** filter=lfs diff=lfs merge=lfs -text
:(exclude)Assets/Sounds/**.meta filter=lfs diff=lfs merge=lfs -text

Assets/ADG_Textures/** filter=lfs diff=lfs merge=lfs -text
:(exclude)Assets/ADG_Textures/**.meta filter=lfs diff=lfs merge=lfs -text

Assets/_TerrainAutoUpgrade/** filter=lfs diff=lfs merge=lfs -text
:(exclude)Assets/_TerrainAutoUpgrade/**.meta filter=lfs diff=lfs merge=lfs -text

Assets/Grass And Flowers Pack 1/** filter=lfs diff=lfs merge=lfs -text
:(exclude)Assets/Grass And Flowers Pack 1/**.meta filter=lfs diff=lfs merge=lfs -text

Assets/ProceduralTerrainPainter/** filter=lfs diff=lfs merge=lfs -text
:(exclude)Assets/ProceduralTerrainPainter/**.meta filter=lfs diff=lfs merge=lfs -text